.header {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.addWord {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addWord > label {
  margin-right: 10px;
}

.addWord > textarea {
  margin-right: 32px;
}
.addWord > select {
  margin-right: 32px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
}

.label {
  font-size: 1.5rem;
}

.button {
  font-size: 1.5rem;
}

.textbox {
  font-size: 1.5rem;
}

.select {
  font-size: 1.5rem;
}