.header {
  margin: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.addWord {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addWord > label {
  margin-right: 10px;
}

.addWord > textarea {
  margin-right: 32px;
}
.addWord > select {
  margin-right: 32px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
}

.label {
  font-size: 1.5rem;
}

.button {
  appearance: none;
  background: none;
  font-size: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 1.5rem;
}

.select {
  font-size: 1.5rem;
}

.button:hover,
.button:focus {
  border: 2px solid black;
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
